<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.ActivityMapper">

    <resultMap id="resultMap" type="com.tencent.wxcloudrun.model.Activity">
        <id property="activityId" column="activity_id"/>
        <result property="activityCode" column="activity_code"/>
        <result property="activityName" column="activity_name"/>
        <result property="activityDescription" column="activity_description"/>
        <result property="planStartDate" column="plan_start_date" javaType="java.time.LocalDateTime"/>
        <result property="planEndDate" column="plan_end_date" javaType="java.time.LocalDateTime"/>
        <result property="activityFlowId" column="activity_flow_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createDate" column="create_date" javaType="java.time.LocalDateTime"/>
        <result property="lastUpdateBy" column="last_update_by"/>
        <result property="lastUpdateDate" column="last_update_date" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <insert id="create" useGeneratedKeys="true" keyProperty="activityId"
            parameterType="com.tencent.wxcloudrun.model.ActivityFlow">
        insert into ps_activity_t(activity_code,
                                  activity_name,
                                  activity_description,
                                  plan_start_date,
                                  plan_end_date,
                                  activity_flow_id,
                                  delete_flag,
                                  create_by,
                                  create_date,
                                  last_update_by,
                                  last_update_date)
        values (#{activityCode},
                #{activityName},
                #{activityDescription},
                #{planStartDate},
                #{planEndDate},
                #{activityFlowId},
                'N',
                #{createBy},
                now(),
                #{createBy},
                now())
    </insert>

    <select id="findByActivityFlowId" resultMap="resultMap" parameterType="java.lang.Long">
        SELECT activity_id,
               activity_code,
               activity_name,
               activity_description,
               plan_start_date,
               plan_end_date,
               activity_flow_id,
               create_by,
               create_date,
               last_update_by,
               last_update_date
        FROM ps_activity_t
        WHERE delete_flag = 'N'
          and activity_flow_id = #{activityFlowId}
    </select>

    <update id="update" parameterType="com.tencent.wxcloudrun.model.ActivityFlow">
        update ps_activity_t
        set activity_name        = #{activityName},
            activity_description = #{activityDescription},
            plan_start_date      = #{planStartDate},
            plan_end_date        = #{planEndDate},
            last_update_date     = now(),
            last_update_by       = #{lastUpdateBy}
        where delete_flag = 'N'
          and activity_id = #{activityId}
    </update>

    <delete id="delete" parameterType="com.tencent.wxcloudrun.model.ActivityFlow">
        update ps_activity_t
        set delete_flag      = 'Y',
            last_update_date = now(),
            last_update_by   = #{lastUpdateBy}
        where delete_flag = 'N'
          and activity_id = #{activityId}
    </delete>

    <select id="findByCode" resultType="integer">
        select count(1)
        from ps_activity_t
        where activity_code like CONCAT(#{codePrefix}, '%');
    </select>

</mapper>
